<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Virtusa</title>
 
 
    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel='stylesheet'>
    

 
 
</head>
 
<body class='text-center'>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><span class="font-weight-bold ">Virtusa</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/about">About Us <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="/prod">Product <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    
  </div>
</nav>


    {% with messages = get_flashed_messages() %}
   {% if messages %}
     <ul class="flashes">
        {% for message in messages %}
         <div class="message_flash alert alert-primary " style="margin-right:40px; margin-top:15px;">{{ message }}</div>
        {% endfor %}
    </ul>
  {% endif %}
 {% endwith %}
    <div class="card mx-auto p-4" style="margin-top:75px; border-radius: 3%; width: 30%;">
    
    <form class="form-signin" method=POST action="{{ url_for('signIn') }}">
      <img class="mb-4" src="#" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
      
      <div class="p-1">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
       </div>
      <div class="p-1">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="pass" class="form-control" placeholder="Password" required>
      </div>
      
      
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
      <a href='/signup'>Sign Up</a>
      <p class="mt-5 mb-3 text-muted">&copy; Virtusa</p>
    </form>
    
    </div>
   


     
 
    </div>
</body>
 
</html>
